Web Crawling

In [64]:
#import all the relevant packages
import sys
from bs4 import BeautifulSoup
import requests
import time 
import pandas as pd
import numpy as np

Gov_api_key = '579b464db66ec23bdd0000015a0232358aac47d34616c7a07d6e7815'

In [3]:
#Data Scraping

#List of Cities
L =['Agra',
'Ahmedabad',
'Ajmer',
'Ambala ',
'Amritsar',
'Ankleshwar',
'Asansol',
'Aurangabad',
'Bathinda ',
'Bengaluru',
'Chennai',
'Chikkaballapur',
'Coimbatore',
'Delhi',
'Fatehabad ',
'GandhiNagar',
'Gaya',
'Ghaziabad',
'Greater Noida',
'Gurugram',
'Guwahati',
'Howrah',
'Hubballi',
'Hyderabad',
'Jaipur',
'Jalandhar',
'Jodhpur',
'Kalyan',
'Kanpur',
'Kolkata',
'Kota',
'Kurukshetra ',
'Lucknow',
'Moradabad',
'Mumbai',
'Muzaffarnagar',
'Mysuru',
'Nagpur',
'Nashik',
'Navi Mumbai',
'Noida',
'Pali',
'Panchkula',
'Panipat',
'Patiala',
'Patna',
'Pune',
'Rajamahendravaram',
'Siliguri',
'Talcher',
'Thane',
'Thiruvananthapuram',
'Tirupati',
'Udaipur',
'Ujjain',
'Vapi',
'Varanasi',
'Vatva',
'Vijayawada',
'Visakhapatnam',
'Yamunanagar'
]

f= open("raw_data.csv","a",encoding="utf-8")
x=0
for x in range(len(L)): 
        print (L[x])
        endstring = ""
        q1 = {'country':'IN',
              'city':L[x],
              'limit':10000,
              'format':'csv',
             }
        #base_url = 'https://api.openaq.org/v1/latest'
        base_url = 'https://api.openaq.org/v1/measurements'
        r= requests.get(base_url, params = q1)
        f.write(r.text)
        time.sleep(2) 

f.close()

Agra
Ahmedabad
Ajmer
Ambala
Amritsar
Ankleshwar
Asansol
Aurangabad
Bathinda
Bengaluru
Chennai
Chikkaballapur
Coimbatore
Delhi
Fatehabad
GandhiNagar
Gaya
Ghaziabad
Greater Noida
Gurugram
Guwahati
Howrah
Hubballi
Hyderabad
Jaipur
Jalandhar
Jodhpur
Kalyan
Kanpur
Kolkata
Kota
Kurukshetra
Lucknow
Moradabad
Mumbai
Muzaffarnagar
Mysuru
Nagpur
Nashik
Navi Mumbai
Noida
Pali
Panchkula
Panipat
Patiala
Patna
Pune
Rajamahendravaram
Siliguri
Talcher
Thane
Thiruvananthapuram
Tirupati
Udaipur
Ujjain
Vapi
Varanasi
Vatva
Vijayawada
Visakhapatnam
Yamunanagar

In [90]:
mydata = pd.read_csv('raw_data.csv')

In [91]:
mydata = mydata[mydata['city'] != 'city']

In [92]:
#Drop unnecessary columns
df = mydata.drop(columns=["attribution","utc"])

In [93]:
df.dtypes

location     object
city         object
country      object
local        object
parameter    object
value        object
unit         object
latitude     object
longitude    object
dtype: object

In [94]:
#Extracting date from field - local
df["date"] = df["local"].astype(str).str.slice(0,10)

In [95]:
#converting datatype of column "value" to numeric
df["value"] = pd.to_numeric(df["value"])

In [96]:
#Grouping the dataset on all columns except "value" and taking average of "value"
df = df.groupby(['location','city','country','latitude','longitude','unit','date','parameter'], as_index=False)['value'].mean()

In [99]:
df.head()

,location,city,country,latitude,longitude,unit,date,parameter,value
0,"Civil Lines, Ajmer - RSPCB",Ajmer,IN,26.470859,74.646594,µg/m³,2019-08-30,co,1173.333333
1,"Civil Lines, Ajmer - RSPCB",Ajmer,IN,26.470859,74.646594,µg/m³,2019-08-30,no2,29.323333
2,"Civil Lines, Ajmer - RSPCB",Ajmer,IN,26.470859,74.646594,µg/m³,2019-08-30,o3,4.125000
3,"Civil Lines, Ajmer - RSPCB",Ajmer,IN,26.470859,74.646594,µg/m³,2019-08-30,pm10,58.743333
4,"Civil Lines, Ajmer - RSPCB",Ajmer,IN,26.470859,74.646594,µg/m³,2019-08-30,pm25,27.786667

In [101]:
#Creating new columns by pivot
df_pivot = pd.pivot_table(df, values = 'value', index=['location','city','country','unit','latitude','longitude','date'], columns = 'parameter').reset_index()

In [104]:
df_pivot.head(10)

parameter,location,city,country,unit,latitude,longitude,date,co,no2,o3,pm10,pm25,so2
0,"Civil Lines, Ajmer - RSPCB",Ajmer,IN,µg/m³,26.470859,74.646594,2019-08-30,1173.333333,29.323333,4.125000,58.743333,27.786667,5.670000
1,"Civil Lines, Ajmer - RSPCB",Ajmer,IN,µg/m³,26.470859,74.646594,2019-08-31,1314.574468,21.990319,20.340851,56.229894,28.385638,5.178723
2,"Civil Lines, Ajmer - RSPCB",Ajmer,IN,µg/m³,26.470859,74.646594,2019-09-01,1284.835165,14.513077,21.092857,52.102857,21.605275,5.371758
3,"Civil Lines, Ajmer - RSPCB",Ajmer,IN,µg/m³,26.470859,74.646594,2019-09-02,789.263158,18.274737,18.858947,61.531158,30.780526,5.542421
4,"Civil Lines, Ajmer - RSPCB",Ajmer,IN,µg/m³,26.470859,74.646594,2019-09-03,749.673913,20.699457,16.971196,78.788804,35.925978,4.810652
5,"Civil Lines, Ajmer - RSPCB",Ajmer,IN,µg/m³,26.470859,74.646594,2019-09-04,906.702128,20.294086,23.070426,66.692872,30.807447,5.711290
6,"Civil Lines, Ajmer - RSPCB",Ajmer,IN,µg/m³,26.470859,74.646594,2019-09-05,1017.894737,21.699368,20.502000,62.848421,31.364737,5.311158
7,"Civil Lines, Ajmer - RSPCB",Ajmer,IN,µg/m³,26.470859,74.646594,2019-09-06,895.222222,19.221538,28.174333,66.604667,29.701222,10.670440
8,"Civil Lines, Ajmer - RSPCB",Ajmer,IN,µg/m³,26.470859,74.646594,2019-09-07,1307.391304,23.413261,16.962391,55.549565,27.578696,5.067174
9,"Civil Lines, Ajmer - RSPCB",Ajmer,IN,µg/m³,26.470859,74.646594,2019-09-08,998.152174,17.993011,14.654130,49.179457,26.963478,5.407826

In [106]:
#Handling missing values - replacing null values with mean
df_pivot = df_pivot.fillna(df_pivot.mean())

In [108]:
df_pivot.to_csv('air_quality_index_pivot.csv')